/* =============================== */
/* = Project Gallery Node Styles = */
/* =============================== */

.node--type-project .images-wrapper {
	margin-bottom:20px;
}

.main-image .views-row {
	margin-bottom:0px !important;
}

.secondary-images .views-row {
	display:inline-block;
	margin-bottom:3px !important;
	padding-bottom:0px !important;
}

.secondary-images .field-content.thumb-img {
	overflow:hidden;
}

.secondary-images .field-content.thumb-img img {
	transform:scale(1);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.secondary-images .field-content.thumb-img:hover img {
	transform:scale(1.1);
	cursor:pointer;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
